<ion-card class="c-confirm text-center">
  <ion-card-header>
    <ion-card-subtitle>Usuario logueado satisfactoriamente</ion-card-subtitle>
    <ion-card-title class="qa-confirmComponent-userEmail">{{
      loginData?.email
    }}</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-icon
      name="checkmark-circle-outline"
      class="success qa-confirmComponent-successIcon"
    ></ion-icon>
  </ion-card-content>
</ion-card>
