.c-login-form {
  .form-wrapper {
    padding: 0 20px;
  }
  .no-margin {
    margin: 0;
  }
  .h-45 {
    height: 45px;
  }
  .error {
    font-size: 12px;
    color: red;
  }
  .hidden {
    visibility: hidden;
  }
  .no-padding-bottom {
    padding-bottom: 0;
  }
}

@media all and (min-width: 960px) {
  .c-login-form {
    .submit-button {
      width: 40%;
      margin: 5% auto;
    }
    ion-button {
      font-weight: bold;
      --border-color: var(--ion-color-primary);
      --color: var(--ion-color-desktopButton);
    }
  }
}
