<form
  [formGroup]="loginForm"
  (ngSubmit)="onSubmit()"
  novalidate
  class="c-login-form"
>
  <ion-list class="no-padding-bottom"
    ><div class="form-wrapper">
      <ion-item>
        <ion-input
          type="email"
          formControlName="email"
          placeholder="Email"
          class="qa-formLogin-emailInput"
          required
          ngDefaultControl
        ></ion-input>
        <ion-icon name="person-outline" slot="start"></ion-icon>
      </ion-item>
      <span
        class="error ion-padding qa-formLogin-emailRequired"
        *ngIf="isSubmitted && errorControl.email.errors?.required"
      >
        Email es requerido.
      </span>
      <span
        class="error ion-padding qa-formLogin-emailPattern"
        *ngIf="isSubmitted && errorControl.email.errors?.pattern"
      >
        Por favor ingresa un email valido.
      </span>
      <ion-item>
        <ion-input
          [type]="type"
          formControlName="password"
          placeholder="Contraseña"
          class="qa-formLogin-passInput"
          required
          ngDefaultControl
        ></ion-input>
        <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
        <ion-icon
          *ngIf="!showLoader"
          [ngClass]="
            loginForm.controls.password.value.length === 0 ? 'hidden' : ''
          "
          (click)="runProgress()"
          name="eye-off-outline"
          class="qa-formLogin-pass-eye-off"
          slot="end"
        ></ion-icon>
        <ion-icon
          *ngIf="showLoader"
          class="qa-formLogin-pass-eye"
          name="eye-outline"
          slot="end"
        ></ion-icon>
      </ion-item>
      <ion-progress-bar
        [value]="progressBarValue"
        *ngIf="showLoader"
        class="qa-formLogin-progressBar"
      ></ion-progress-bar>
      <span
        class="error ion-padding qa-formLogin-passRequired"
        *ngIf="isSubmitted && errorControl.password.errors?.required"
      >
        Contraseña es requerida.
      </span>
      <span
        class="error ion-padding qa-formLogin-passMinLength"
        *ngIf="isSubmitted && errorControl.password.errors?.minlength"
      >
        Debe tener un minimo de 5 caracteres.
      </span>
      <ion-item lines="none">
        <ion-label>Recordar</ion-label>
        <ion-toggle
          formControlName="rememberMe"
          ngDefaultControl
          class="qa-formLogin-rememberMe"
          [(ngModel)]="remember"
          (ionChange)="rememberMe($event)"
        ></ion-toggle>
      </ion-item>
    </div>
  </ion-list>
  <div class="submit-button">
    <ion-button
      [shape]="!mobileView ? 'round' : ''"
      [fill]="!mobileView ? 'outline' : 'solid'"
      type="submit"
      expand="full"
      class="no-margin h-45 ion-text-capitalize qa-formLogin-submitBtn"
      >Acceder</ion-button
    >
  </div>
</form>
