.c-home {
  &.bg {
    --background: url("/assets/images/background.jpg") no-repeat center/cover
      fixed;
  }
  .wrapper {
    display: grid;
    width: 100%;
    align-items: center;
    justify-items: center;
  }

  .flip-component {
    background-color: transparent;
    width: 300px;
    height: 240px;
    perspective: 1000px;
  }

  .flip-component-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }

  .logged .flip-component .flip-component-inner {
    transform: rotateY(180deg);
  }

  .flip-component-front,
  .flip-component-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .flip-component-back {
    background-color: white;
    color: green;
    transform: rotateY(180deg);
  }

  footer {
    position: fixed;
    bottom: 0;
    padding: 2%;
  }
}

@media all and (min-width: 960px) {
  .c-home {
    .wrapper {
      background-color: white;
      max-width: 450px;
      margin-top: 10%;
    }
    .flip-component {
      width: 420px;
    }
  }
}
