<ion-content [fullscreen]="true" class="c-home bg">
  <ion-grid class="wrapper">
    <ion-row class="space">
      <ion-col>
        <app-logo></app-logo>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <app-title class="only-desktop" [title]="pageTitle"></app-title>
      </ion-col>
    </ion-row>
    <ion-row class="space">
      <ion-col>
        <div [ngClass]="logged ? 'logged': ''">
          <div class="flip-component">
            <div class="flip-component-inner">
              <div class="flip-component-front">
                <app-login-form
                  (loginCredentials)="loginCredentials($event)"
                ></app-login-form>
              </div>
              <div class="flip-component-back">
                <app-confirm [loginData]="logingData"></app-confirm>
              </div>
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <footer>Regístrate</footer>
</ion-content>
